@font-face {
  font-family: "ProductSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ProductSansBold.woff") format("woff"),
  url("../fonts/ProductSansBold.woff2") format("woff2");
}

@font-face {
  font-family: "ProductSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ProductSansRegular.woff") format("woff"),
  url("../fonts/ProductSansRegular.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 49px;
  font-family: "ProductSans", "Arial", sans-serif;
  font-size: 16px;
  height: 1500px;
}

.button{
  display: inline-block;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  background-color: #00bafc;
  text-decoration: none;
}

.button:hover{
  background-color: rgba(0, 186, 252, 0.8);
}
.button:active{
  background-color: rgba(0, 186, 252, 0.6);
}

.container {
  max-width: 1148px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 59px;
  height: 20px;
  transition: all 0.3s ease;
}

.logo-icon:hover{
  opacity: 0.7;
}

.logo-icon:active{
  opacity: 0.5;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  margin-right: 10px;
  padding: 0;
}

.has-nav-list{
  position: relative;
}

.sub-menu {
  position: absolute;
  width: 124px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  top: 100%;
  left: -15%;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  transform: scaleY(0);
  transform-origin: center  top;
  transition: all .1s ease;
}

.sub-menu .sub-menu-item{
  transform: scaleY(0);
  transform-origin: center top;
  transition: all .03s ease;
}

.has-nav-list:hover .sub-menu,
.has-nav-list:hover .sub-menu .sub-menu-item{
  transform: scaleY(1);
}

.sub-menu-item a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
}

.sub-menu-item a:hover{
  color: white;
}

.sub-menu-item:hover{
  background-color: #00bafc;
}

.sub-menu-item:active {
  opacity: 0.6;
}

.nav-list-item > a{
  display: block; 
  padding: 16px;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  transition: all .2s ease;
}

/* ===================================== */

/* .nav-list-item > a:hover{
  box-shadow: inset 0 -3px 0 #222;
} */

/* ===================================== */

.nav-list-item > a:active{
  box-shadow: none;
  color: #fff;
  background-color: rgba(25, 25, 25, 0.7);
}

.tel-number{
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  padding: 8px 16px;
  background-color: #00bafc;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: inset 0 0 0 2px #00bafc;
  transition: all .3s ease;
}

.tel-number:hover{
  background: none;
  color: #00bafc;
}

.tel-number:active{
  background-color: rgba(0, 186, 252, 0.6);
  color: #fff;
  box-shadow: none;
}

/* header qismi tugadi */

.box-text-video{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-text-video iframe{
  width: 458px;
  height: 258px;
  border: none;
  border-radius: 5px;
}

.text{
  width: 465px;
}

.text p{
  line-height: 24px;
}

.hero{
  padding: 80px 0;
}

/* hero qismi tugadi */

.table-container{
  margin-left: -35px;
  margin-right: -35px;
}

.table-heading{
  margin-top: 0;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.table-text{
  width: 719px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  list-style-type: none;
}

.table-list-item{
  display: flex;
  flex-direction: column;
  margin: 0 35px;
  margin-bottom: 48px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.table-link:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.table-link:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.table-link{
  display: block;
  flex-grow: 1;
  width: 320px;
  padding: 24px 49px;
  text-decoration: none;
  color: #222;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.table-link::before{
  display: block;
  width: 222px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.pic1::before{
  background-image: url(../img/create-website.png);
}

.pic2::before{
  background-image: url(../img/telegram-bot.png);
}

.pic3::before{
  background-image: url(../img/smm-social.png);
}

.pic4::before{
  background-image: url(../img/grafic-design.png);
}

.pic5::before{
  background-image: url(../img/crm-analise.png);
}

.section-link{
  text-align: center;
}
.normal-link{
  margin-left: 35px;
  padding-bottom: 3px;
  border-bottom: 2px solid #00bafc;
  text-decoration: none; 
  color: #00bafc;
}
