@font-face {
    font-family: "ProductSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ProductSansBold.woff") format("woff"),
    url("../fonts/ProductSansBold.woff2") format("woff2");
}

@font-face {
    font-family: "ProductSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    
    src: url("../fonts/ProductSansRegular.woff") format("woff"),
    url("../fonts/ProductSansRegular.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

}
